* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    overflow-x: hidden;
}
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#form {
    align-items: center;
    background-color: #fff;
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 10px;
    max-width: 90%;
    width: 360px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input {
    border: 1px solid #ccc;
    margin: 5px 0;
    outline: none;
    padding: 5px 10px;
    width: 220px;
}

input:focus {
    border: 1px solid forestgreen;
}

button {
    background-color: #fae2d4;
    border: 2px solid #fae2d4;
    margin: 10px;
    padding: 5px 10px;
    transition: all 0.1s ease-out;
    width: 100px;
}

button:active {
    background-color: #f9cdb4;
    border: 2px solid #f9cdb4;
    color: #fff;
}

select {
    outline: none;
    padding: 2px 5px;
}

label {
    user-select: none;
}

.cel {
    margin: 10px 0;
}

.cel2 {
    display: block;
    /* align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; */
}

footer {
    background-color: #282a35;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    user-select: none;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.h4-img {
    display: block;
    margin: 10px auto 0;
    max-width: 90%;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.show {
    position: relative;
}
.note {
    display: block;
    width: 100vw;
    margin-left: 300px;
    color: red;
}
@media only screen and (max-width: 739px) {
    body {
        overflow: hidden;
        max-width: 100vw;
    }
    button,
    input {
        padding: 5px 10px;
        width: 200px;
    }
    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .cel2 {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .note {
        display: block;
        margin-left: 20px;
    }
    #search-form {
        width: min-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .search__button {
        /* width: min-content; */
        width: 200px;
    }
}
