* {
  box-sizing: border-box;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   */
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #070f2b !important;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a {
  /* text-decoration: none; */
  color: #fff;
}
ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
li {
  list-style-type: none;
  padding: 2px 10px;
  margin-bottom: 2px;
  background-color: #ccc;
}
#form {
  align-items: center;
  background-color: #fff;
  /* border: 2px solid #000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 10px;
  max-width: 90%;
  width: 360px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input {
  border: 1px solid #ccc;
  margin: 5px 0;
  outline: none;
  padding: 5px 10px;
  width: 220px;
}

.box-shadow-input {
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

input:focus {
  border: 1px solid forestgreen;
}

button {
  width: 100px;
  margin: 10px 0;
  padding: 5px 10px;
  border: 2px solid #fae2d4;
  background-color: #fae2d4;
  transition: all 0.1s ease-out;
}

button:active {
  color: #fff;
  border: 2px solid #f9cdb4;
  background-color: #f9cdb4;
}

select {
  outline: none;
  padding: 2px 5px;
}

label {
  user-select: none;
}

.cel {
  margin: 10px 0;
}

.cel2 {
  display: block;
}

footer {
  background-color: #070f2b;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}

h2 {
  text-align: center;
  user-select: none;
  /* color: #9290c3; */
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.h4-img {
  display: block;
  margin: 10px auto 0;
  max-width: 90%;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.show {
  position: relative;
}
.note {
  display: block;
  width: 100vw;
  margin-left: 300px;
  color: red;
}

#hintList {
  position: absolute;
  top: 50.8px;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;
  background-color: #1b1a55;
}

.subject-li {
  width: 328px;
  list-style-type: none;
  padding: 6px 10px;
  margin-bottom: 0px !important;
  background-color: #535c91;
  color: #fff;
  border: 1px solid white;
  transition: color ease-in-out 0.2s;
}
.subject-li:hover {
  width: 328px;
  list-style-type: none;
  padding: 6px 10px;
  margin-bottom: 0px !important;

  background-color: #fff;
  color: #535c91;
}
#main {
  background-color: #1b1a55;
  /* background-color: #fff; */
  width: 100vw;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

#main__container {
  width: 360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
label[for="result-value"],
label[for="required-value"] {
  font-weight: 600;
}

#require-btn,
#result-btn {
  margin: 10px;
}

@media only screen and (max-width: 739px) {
  body {
    overflow-x: hidden !important;
    width: 100vw !important;
  }
  button,
  input {
    padding: 5px 10px;
    width: 200px;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 20px;
  }
  .cel2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  .note {
    display: block;
    margin-left: 20px;
  }
  #search-form {
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .search__button {
    /* width: min-content; */
    width: 200px;
  }
  .h4-img {
    /* margin: 0; */
    margin-bottom: 10px !important;
    width: 100%;
    max-width: 80%;
  }
  .show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
